:root{
    /* colors */
    --color-primary: #c69963;
    --color-primary-dark: #ad7f47;

    --color-grey-light-1: #f9f7f6;
    --color-white: #fff;

    --color-grey-dark-2: #54483A; 
    --color-grey-dark-1: #aaa;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
     box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    color: #6D5D4B;
    font-weight: 400;
    line-height: 1.6;
}
::selection {
    background: var(--color-primary);
    color: var(--color-white);
}

/**************/
/****LAYOUT****/
/**************/
.container{
    display: flex;
}
/* SIDEBAR LEFT */
.sidebar{
    flex: 0 1 5.2%;
    background:var(--color-primary);
    position: relative;
}
/* CONTENT RIGHT */
.content{
    flex: 1;
}

/**************/
/**COMPONENTS**/
/**************/
.row{
    max-width: 112rem;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    padding: 1.8rem 3rem;
    color: var(--color-grey-light-1);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background: var(--color-primary);
    transition: all .5s;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.btn:hover{
    background: var(--color-primary-dark);
    transform: translateY(-.3rem);
    -webkit-transform: translateY(-.3rem);
    -moz-transform: translateY(-.3rem);
    -ms-transform: translateY(-.3rem);
    -o-transform: translateY(-.3rem);
}
.heading-3{
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}
.heading-1{
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.heading-4{
    font-size: 1.8rem;
    font-weight: 600;
}
.heading-light{
    color: var(--color-grey-light-1);
}
.heading-dark{
    color: var(--color-grey-dark-2);
}

/**************/
/**HEADER**/
/**************/
.header{
    display: flex;
    height: 80vh;
}
/* HEADER LEFT SIDE (background) */
.header .header__background{
    flex: 0 1 68.7%;
    background: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 4rem 8.65rem 8rem 8.65rem;
}
.header .header__background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey-light-1);
}
.header .header__background .header__logo{
    height: 6rem;
    width: 8rem;
}
.header .header__background .header__headings{
    align-self: stretch;
}
.header .header__background .header__btn{
    align-self: flex-start;
    justify-self: start;
}
.header .header__background .header__seenon{
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
.header .header__background .header__seenon .header__seenon-text{
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header__background .header__seenon .header__seenon-text::after,
.header .header__background .header__seenon .header__seenon-text::before{
    content: "";
    height: .1rem;
    flex: 0 1 43%;
    background: currentColor;
}
.header .header__background .header__seenon .header__seenon-logos{
    display: flex;
    justify-content: space-around;
}
.header .header__background .header__seenon .header__seenon-logos .header__seenon-logo{
    height: 2.5rem;
    opacity: .7;
}
/* HEADER RIGHT SIDE (realtors) */
.header .header__realtors{
    background: #101d2c;
    flex: 1;
    padding: 13.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header__realtors .header__realtors-list{
    width: 50%;
    display: flex;
    align-items: center;
    color: var(--color-grey-light-1);
}
.header__realtors .header__realtors-list .header__realtors-img{
    height: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 .header__realtors .header__realtors-list .header__realtors-name{
    margin-left: 2rem;
}
.header__realtors .header__realtors-list .header__realtors-name .header__realtors-sold{
    color: var(--color-grey-dark-1);
    text-transform: uppercase;
}

/**************/
/**FEATURES**/
/**************/
.features{
    padding: 15rem 0;
}
.features .features__boxes{
    display: flex;
    justify-content: space-between;
}
.features .features__boxes .features__box{
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
}
.features .features__boxes .features__box >*:not(:first-child){
    margin-top: 5rem;
}
.features .features__boxes .features__box .features__box-top,
.features .features__boxes .features__box .features__box-bottom{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .features__boxes .features__box .features__icon{
    height: 4.5rem;
    fill: var(--color-primary);
    width: 50%;
    margin-bottom: 2rem;
}
.features .features__boxes .features__box .features__description .heading-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.features .features__boxes .features__box .features__description .features__paragraph{
    font-size: 1.6rem;
    text-align: justify;
}
.tests{
    display: flex;
}
.tests .box{
    display: flex;
    flex-direction: column;
}

/**************/
/**STORY**/
/**************/
.story{
    display: flex;
    position: relative;
}
/* LEFT */
.story .story__img{
    background: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
    background-size: cover;
    flex: 0 1 50%;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story .story__img .story__img--1{
    height: 36rem;
}
/* RIGHT */
.story .story__content{
    flex: 1;
    padding: 15rem 13rem;
    background: var(--color-grey-light-1);
}
.story .story__content >*:not(:last-child){
    margin-bottom: 3rem;
}
.story .story__content .heading-2{
    font-size: 4rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
}

.story .story__content .story__content-paragraph{
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 5rem;
}

/**************/
/**HOMES**/
/**************/
.homes{
    padding: 15rem 0;
}
.homes .row{
    display: flex;
    justify-content: space-between;
}
.homes .row .homes__home{
    flex: 0 1 29%;
}
.homes .row .homes__home .homes__card{
    display: flex;
    flex-direction: column;
}
.homes .row .homes__home .homes__card:not(:last-child){
    margin-bottom: 7rem;
}
.homes .row .homes__home .homes__card .homes__img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-grey-light-1);
    position: relative;

}
.homes .row .homes__home .homes__card .homes__img-box .homes__img{
    width: 100%;
}
.homes .row .homes__home .homes__card .homes__img-box .homes__like{
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 2.5rem;
    width: 3rem;
    fill: #c69963;
}
.homes .row .homes__home .homes__card .homes__img-box .homes__caption{
    text-decoration: none;
    padding: 1.5rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    background: #101d2c;
    width: 80%;
    text-align: center;
    margin-top: -3rem;
}
/* description */
.homes .row .homes__home .homes__card .homes__description{
    padding: 3.5rem;
    background: var(--color-grey-light-1);
}
.homes .row .homes__home .homes__card .homes__description .homes__description-box{
    display: flex;
    justify-content: space-between;
}
.homes .row .homes__home .homes__card .homes__description .homes__description-box:not(:last-child){
    margin-bottom: 4rem;
}
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__location,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__rooms,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__meters,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__prizes{
    display: flex;
    align-items: center;
}

.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__location >*:not(:last-child),
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__rooms >*:not(:last-child),
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__meters>*:not(:last-child),
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__prizes>*:not(:last-child){
    margin-right: .8rem;
}

.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__location .homes__icon,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__rooms .homes__icon,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__meters .homes__icon,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__prizes .homes__icon{
    height: 1.8rem;
    width: 2rem;
    fill: var(--color-primary);
}

.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__location .homes__loc,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__rooms .homes__room,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__meters .homes__m,
.homes .row .homes__home .homes__card .homes__description .homes__description-box .homes__prizes .homes__prize{
    font-size: 1.5rem;
}


/**************/
/**GALLERY**/
/**************/
.gallery .gallery__boxes{
    display: flex;
}
.gallery .gallery__boxes .gallery__item{
    background: #000;
    overflow: hidden;
}
.gallery .gallery__boxes .gallery__item .gallery__photo{
    width: 100%;
    display: block;
    opacity: .7;
    transform: scale(1.1);
    transition: all .5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.gallery .gallery__boxes .gallery__item .gallery__photo:hover{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

/**************/
/**FOOTER**/
/**************/
footer{
    background: #101d2c;
    padding: 8rem;
}
footer .nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer .nav .nav-item{
    list-style: none;
    margin-bottom: 2rem;
}
footer .nav .nav-item .nav-link:link,
footer .nav .nav-item .nav-link:visited{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.5rem;
}
footer p{
    color: var(--color-grey-dark-1);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 4rem;
}
footer .nav .nav-item .nav-link:hover{
    background: rgba(89, 107, 131, 0.12);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .15) ;
}

/**************/
/**SIDEBAR**/
/**************/
.navigation__nav .navigation__check{
    opacity: 1;
    visibility: hidden;
    position: fixed;
}
.navigation__nav .navigation__button{
    height: 5rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    position: fixed;
    top: .3rem;
    left: .8rem;
    z-index: 1000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation__button .navigation__icon{
    width: 4rem;
    height: .2rem;
    background: var(--color-white);
    display: inline-block;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation__button .navigation__icon::before,
.navigation__nav .navigation__button .navigation__icon::after{
    content: "";
    width: 4rem;
    height: .2rem;
    background: var(--color-white);
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation__button .navigation__icon::before{
    top: -1rem;
}
.navigation__nav .navigation__button .navigation__icon::after{
    top: 1rem;
}
/* ANIMATION */
.navigation__nav .navigation__button:hover .navigation__icon{
    height: .1rem;
}
.navigation__nav .navigation__button:hover .navigation__icon::before{
    top: -1.2rem;
}
.navigation__nav .navigation__button:hover .navigation__icon::after{
    top: 1.2rem;
}
.navigation__nav .navigation__check:checked + .navigation__button{
    left: 18.8rem;
}
.navigation__nav .navigation__check:checked + .navigation__button .navigation__icon{
    background: transparent;
}
.navigation__nav .navigation__check:checked + .navigation__button .navigation__icon::before{
    top: 0;
    transform: rotate(1300deg);
    -webkit-transform: rotate(1300deg);
    -moz-transform: rotate(1300deg);
    -ms-transform: rotate(1300deg);
    -o-transform: rotate(1300deg);
}
.navigation__nav .navigation__check:checked + .navigation__button .navigation__icon::after{
    top: 0;
    transform: rotate(-1300deg);
    -webkit-transform: rotate(-1300deg);
    -moz-transform: rotate(-1300deg);
    -ms-transform: rotate(-1300deg);
    -o-transform: rotate(-1300deg);
}
.navigation__nav .navigation__check:checked ~ .navigation__close{
    font-size: 10rem;
}

/* navigation link */
.navigation{
    position: fixed;
    background: var(--color-primary);
    height: 100%;
    width: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation .navigation__lists{
    margin-top: 5rem;
}
.navigation__nav .navigation .navigation__lists .navigation__item{
    list-style: none;
    padding: 1rem 1rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation .navigation__lists .navigation__item:not(:last-child){
    margin-bottom: 2rem;
}
.navigation__nav .navigation .navigation__lists .navigation__item .navigation__link{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
    display: block;
    text-align: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.navigation__nav .navigation__check:checked ~ .navigation{
    width: 25rem;
    opacity: 1;
    visibility: visible;
}
.navigation__nav .navigation .navigation__lists .navigation__item:hover{
    background: var(--color-primary-dark);
    box-shadow: 1rem 0 2rem rgba(0, 0, 0, .3);
}
.navigation__nav .navigation .navigation__lists .navigation__item .navigation__link:hover{
    transform: translateY(-.3rem);
    -webkit-transform: translateY(-.3rem);
    -moz-transform: translateY(-.3rem);
    -ms-transform: translateY(-.3rem);
    -o-transform: translateY(-.3rem);
}
.navigation__nav .navigation .navigation__lists .navigation__item .navigation__link:active{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.navigation__nav .navigation .navigation__lists .navigation__item:active{
    box-shadow: .5rem 0 1rem rgba(0, 0, 0, .2);
}
.navigation__nav .navigation .navigation__lists .navigation__item:hover .navigation__link{
    color: var(--color-white);
}

/* up button */
.up{
    position: fixed;
    right: 2rem;
    color: var(--color-primary-dark);
    font-size: 5rem;
    z-index: 9999;
    border-radius: 50%;
    text-align: center;
    display: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (max-width: 78em){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width: 63em){
    .container{
        flex-direction: column;
    }
    .sidebar{
        flex: 0 1 5.2%;
        background:var(--color-primary);
        position: relative;
    }
    /**************/
    /**SIDEBAR**/
    /**************/
    .navigation__nav .navigation__button{
        position: absolute;
        top: .5rem;
        left: unset;
        right: 1rem;
    }
    .navigation__nav .navigation__check:checked + .navigation__button{
        left: unset;
    }
    /* navigation link */
    .navigation{
        position: unset;
        background: transparent;
        height: unset;
        width: 68.8%;
        z-index: 100;
        margin-left: -100rem;
        opacity: 0;
        visibility: hidden;
        display: inline-block;
        flex-direction: unset;
        align-items: unset;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
}
    .navigation__nav .navigation .navigation__lists{
        margin-top: 0;
        display: flex;
        justify-content: space-around;
    }
    .navigation__nav .navigation .navigation__lists .navigation__item{
        padding: 2rem 2.5rem;
    }
    .navigation__nav .navigation .navigation__lists .navigation__item:not(:last-child){
        margin-bottom: 0;
    }
    .navigation__nav .navigation .navigation__lists .navigation__item .navigation__link{
        color: var(--color-white);
    }
    .navigation__nav .navigation__check:checked ~ .navigation{
        opacity: 1;
        visibility: visible;
        width: 68.8%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 58em){
    /**************/
    /**HEADER**/
    /**************/
    .header{
        display: flex;
        flex-direction: column;
        height: unset;
    }
    .header .header__background{
        flex: 0 1 100vh;
        padding: 4rem 8.65rem 8rem 8.65rem;
    }
    /* HEADER RIGHT SIDE (realtors) */
    .header .header__realtors{
        padding: 0 0 2rem 0;
        display: flex;
        flex-direction: unset;
        justify-content: space-evenly;
        position: relative;
    }
    .header .header__realtors h3{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
}
    .header__realtors .header__realtors-list{
        flex: 0 1 20%;
        display: flex;
        align-items: center;
        margin-top: 7rem;
    }
    .navigation{
        width: 96%;
    }
    .navigation__nav .navigation__check:checked ~ .navigation{
        opacity: 1;
        visibility: visible;
        width: 96%;
        margin-left: 0;
    }
    .row{
        max-width: 100rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 54em){
    /**************/
    /**FEATURES**/
    /**************/
    .features .features__boxes{
        flex-direction: column;
        justify-content: space-between;
    }
    .features .features__boxes .features__box:not(:last-child){
        margin-bottom: 7rem;
    }
    .features .features__boxes .features__box{
        flex-direction: unset;
        justify-content: space-evenly;
        flex: 0 1 25%;
    }
    .features .features__boxes .features__box >*:not(:first-child){
        margin-top: 0;
    }
    .features .features__boxes .features__box .features__box-top,
    .features .features__boxes .features__box .features__box-bottom{
        flex: 0 1 30%;
    }

    /**************/
    /**STORY**/
    /**************/
    /* RIGHT */
    .story .story__content{
        padding: 15rem 10rem;
    }
    .story{
        flex-direction: column;
    }
    /* LEFT */
    .story .story__img{
        flex: 0 1 450px;
        flex-direction: column;
    }
    .story .story__img .story__img--1{
        height: 36rem;
    }
    /* RIGHT */
    .story .story__content{
        order: -1;
    }

    /**************/
    /**HOMES**/
    /**************/
    .homes .row{
        flex-direction: column;
        justify-content: space-between;
    }
    .homes .row .homes__home{
        flex: 0 1 29%;
        display: flex;
        justify-content: space-evenly;
    }
    .homes .row .homes__home:not(:last-child){
        margin-bottom: 5.5rem;
    }
    .homes .row .homes__home .homes__card{
        flex-direction: column;
        flex: 0 1 40%;
    }
    .homes .row .homes__home .homes__card:not(:last-child){
        margin-bottom: 0;
    }
    .homes .row .homes__home .homes__card .homes__description .homes__description-box{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 38.25em){
    .header .header__background{
        padding: 3.5rem 6.5rem 7rem 6.5rem;
    }
    .header .header__background .header__seenon .header__seenon-text::after,
    .header .header__background .header__seenon .header__seenon-text::before{
        height: .13rem;
        flex: 0 1 40%;
    }
    .header .header__background .header__seenon .header__seenon-logos .header__seenon-logo{
        height: 2rem;
        opacity: .7;
    }

    /* HEADER RIGHT SIDE (realtors) */
    .header .header__realtors{
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: unset;
    }
    .header .header__realtors h3{
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
}
    .header__realtors .header__realtors-list{
        flex: 0 1 20%;
        display: flex;
        margin-top: 2.5rem;
        width: 30%;
    }
    .navigation__nav .navigation__check:checked ~ .navigation{
        width: 96%;
    }

     /**************/
    /**FEATURES**/
    /**************/
    .features .features__boxes{
        width: 80%;
        margin: 0 auto;
    }
    .features .features__boxes .features__box{
        flex-direction: column;
        justify-content: space-evenly;
        flex: 0 1 25%;
    }
    .features .features__boxes .features__box >*:not(:first-child){
        margin-top: 7rem;
    }

     /**************/
    /**HOMES**/
    /**************/
    .homes .row{
        align-items: center;
    }
    .homes .row .homes__home{
        flex-direction: column;
        width: 80%;
    }
    .homes .row .homes__home .homes__card:not(:last-child){
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 37.25em){
    html{
        font-size: 43.75%;
    }
    .header .header__background{
        padding: 3.5rem 6.5rem 6.5rem 6.5rem;
    }
    .navigation__nav .navigation__check:checked ~ .navigation{
        width: 90%;
    }
}

@media only screen and (max-width: 25em){
    .navigation__nav .navigation .navigation__lists .navigation__item .navigation__link{
        font-size: 1.2rem;
    }
    .story .story__img .story__img--1{
        height: 25rem;
    }
    .header .header__background .header__seenon .header__seenon-logos .header__seenon-logo{
        height: 1.7rem;
    }    
    footer .nav .nav-item{
        text-align: center;
        flex: 0 1 100%;
    }
}

@media only screen and (max-width: 24em){
    .header .header__background .header__seenon .header__seenon-text::after,
    .header .header__background .header__seenon .header__seenon-text::before{
        flex: 0 1 35%;
    }
    .story .story__content{
        padding: 10rem 8rem;
    }
    
}
